<a href="https://colab.research.google.com/github/Strato303/Siniestros_viales_Santa_Fe/blob/main/get_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SINIESTROS VIALES SANTA FE

En este proyecto se busca realizar la descarga automatica de la informacion desde la web oficial del observatorio vial de Santa Fe (al momento disponible de 2012 a 2020).
https://datos.santafe.gob.ar/dataset/observatorio-vial
Ademas se realizara un analisis exploratorio de los datos conjuntamente con una limpieza de los mismos.

# DESCARGA Y DESCOMPRESION DE INFORMACION

DESCARGA
Para realizar la descarga de los ficheros se realiza en scrap a la url del observatorios para obtener todos los link que nos den acceso a los documentos necesarios que se encuentran en formato ".csv" y ".zip".
Los archivos de formato ".zip" se descomprimiran y  se dejaran en las mismas condiciones que los ".csv" para luego consolidarlos en un solo DATAFRAME.

In [ ]:
# Se importan las librerias.
import requests as rq
import zipfile
from bs4 import BeautifulSoup
import os

In [ ]:
# Se realiza el scrap a la web, se parsea el documento obtenido y se ejecuta la depuracion de los datos que no son necesarios. 
url = 'https://datos.santafe.gob.ar/dataset/observatorio-vial'
response = rq.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

links_descarga = []

links = soup.find_all('a')
for link in links:
    href = link.get('href')
    if href and (href.endswith('.zip') or href.endswith('.csv')):
        links_descarga.append(href)

In [ ]:
# Se definen funciones para facilitar la lectura y el trabajo.

# La funcion de descarga realiza la peticion a la URL y luego se encarga del guardado en disco.
# Para los ficheros ".zip" esta funcion realiza la descompresion y luego el borrado del fichero ".zip"
def descarga (link,ext):
    
    year= link[-8:-4]
    file_ = rq.get(link)
    
    if ext == ".zip":
        guardar(file_,year,ext)
        extraccion(f"siniestros-viales-{year}{ext}")
        os.remove(f"siniestros-viales-{year}{ext}")
    
    if ext ==".csv":
        guardar (file_,year,ext)

def extraccion (file_zip):
    with zipfile.ZipFile(file_zip, 'r') as zip_ref:
        zip_ref.extractall('.')

def guardar (filecsv,year,ext):
    open(f"siniestros-viales-{year}{ext}", "wb").write(filecsv.content)

In [ ]:
# Se utiliza un bucle for para iterar la lista de links y aplicar la funcion de descarga.
for link in links_descarga:
    if link.endswith('.zip'):
        descarga (link,'.zip')
    else :
        descarga (link,'.csv')

# ANALISIS EXPLORATORIO 
os datos)

Se importa la libreria pandas y se consolidan todos los archivos ".csv" en un solo DATAFRAME.

In [ ]:
# Se trabajara con pandas por lo que se importa esta libreria y se crea un DATAFRAME unificando todos los documentos.
import pandas as pd

ficheros = os.listdir()
co = 0
for fichero in ficheros:
    if fichero.endswith(".csv"):
        csv = pd.read_csv(fichero)
        
        if co == 0:
            df = csv
            co =+ 1
            
        else :
            df = pd.concat([df,csv], axis=0)

<ipython-input-26-c305170fc665>:8: DtypeWarning: Columns (19,37) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv(fichero)

In [ ]:
print("Cantidad de datos: ",df.size)
print("Forma DATAFRAME: ",df.shape)
print("Columnas: ",df.columns)

Cantidad de datos:  9296428
Forma DATAFRAME:  (216196, 43)
Columnas:  Index(['anio_acci', 'nro_acci', 'fecha', 'desc_dia', 'fecha_aprox',
       'hora_aprox', 'desc_ruta', 'km', 'cant_participantes',
       'desc_participante', 'calle_avenida_km', 'total', 'heridos_leves',
       'heridos_graves', 'heridos_gravisimos', 'ilesos', 'fallecidos',
       'sin_datos', 'posicion_XY', 'desc_tipo_via', 'desc_ruta_ori',
       'desc_loc', 'desc_dpto', 'desc_tipo_calzada', 'desc_tipo_banquina',
       'desc_unidad_regional', 'desc_lugar_calzada', 'desc_zona',
       'desc_prioridad', 'desc_estado_semaforo', 'desc_lugar_via',
       'desc_estado_via', 'desc_estado_visibilidad', 'desc_luminosidad',
       'desc_estado_clima', 'desc_tipo_colision', 'desc_tipo_atropello',
       'desc_tipo_hecho', 'desc_pres_calzada', 'desc_senializacion',
       'desc_separacion_via', 'desc_restriccion', 'Unnamed: 0'],
      dtype='object')

In [ ]:
df.describe()

,anio_acci,nro_acci,fecha_aprox,km,cant_participantes,total,heridos_leves,heridos_graves,heridos_gravisimos,ilesos,fallecidos,sin_datos,Unnamed: 0
count,216196.000000,216196.000000,173708.000000,216196.000000,216196.000000,216196.000000,216196.000000,216196.000000,216196.000000,216196.000000,216196.000000,216196.000000,108098.000000
mean,2015.605821,6392.290496,0.005619,18.725721,1.870294,2.352550,1.158282,0.116182,0.005403,0.911321,0.046439,0.114923,6287.842717
std,2.664485,4047.864465,0.074747,95.820646,0.426448,1.417818,0.836038,0.366399,0.078425,1.147749,0.248008,0.438648,3979.618904
min,2012.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,-1.000000,0.000000
25%,2013.000000,3044.000000,0.000000,0.000000,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3002.000000
50%,2015.000000,6098.500000,0.000000,0.000000,2.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,6005.000000
75%,2018.000000,9175.000000,0.000000,0.000000,2.000000,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,9024.000000
max,2020.000000,17727.000000,1.000000,999.900000,14.000000,76.000000,60.000000,21.000000,3.000000,68.000000,13.000000,50.000000,17477.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216196 entries, 0 to 11167
Data columns (total 43 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   anio_acci                216196 non-null  int64
 1   nro_acci                 216196 non-null  int64
 2   fecha                    216196 non-null  object
 3   desc_dia                 216196 non-null  object
 4   fecha_aprox              173708 non-null  float64
 5   hora_aprox               195538 non-null  object
 6   desc_ruta                35124 non-null   object
 7   km                       216196 non-null  float64
 8   cant_participantes       216196 non-null  int64
 9   desc_participante        215588 non-null  object
 10  calle_avenida_km         215010 non-null  object
 11  total                    216196 non-null  int64
 12  heridos_leves            216196 non-null  int64
 13  heridos_graves           216196 non-null  int64
 14  heridos_gravisimos       216196 non-null  int64
 15  ilesos                   216196 non-null  int64
 16  fallecidos               216196 non-null  int64
 17  sin_datos                216196 non-null  int64
 18  posicion_XY              71872 non-null   object
 19  desc_tipo_via            207303 non-null  object
 20  desc_ruta_ori            35124 non-null   object
 21  desc_loc                 216196 non-null  object
 22  desc_dpto                216196 non-null  object
 23  desc_tipo_calzada        199347 non-null  object
 24  desc_tipo_banquina       183615 non-null  object
 25  desc_unidad_regional     216196 non-null  object
 26  desc_lugar_calzada       185044 non-null  object
 27  desc_zona                206529 non-null  object
 28  desc_prioridad           176986 non-null  object
 29  desc_estado_semaforo     184301 non-null  object
 30  desc_lugar_via           204862 non-null  object
 31  desc_estado_via          190341 non-null  object
 32  desc_estado_visibilidad  186274 non-null  object
 33  desc_luminosidad         202937 non-null  object
 34  desc_estado_clima        185654 non-null  object
 35  desc_tipo_colision       172451 non-null  object
 36  desc_tipo_atropello      115677 non-null  object
 37  desc_tipo_hecho          210618 non-null  object
 38  desc_pres_calzada        152656 non-null  object
 39  desc_senializacion       171464 non-null  object
 40  desc_separacion_via      178171 non-null  object
 41  desc_restriccion         180049 non-null  object
 42  Unnamed: 0               108098 non-null  float64
dtypes: float64(3), int64(10), object(30)
memory usage: 72.6+ MB

In [ ]:
# Se verifican la cantidad de valores nulos en cada columna
df.isnull().sum()

anio_acci                       0
nro_acci                        0
fecha                           0
desc_dia                        0
fecha_aprox                 42488
hora_aprox                  20658
desc_ruta                  181072
km                              0
cant_participantes              0
desc_participante             608
calle_avenida_km             1186
total                           0
heridos_leves                   0
heridos_graves                  0
heridos_gravisimos              0
ilesos                          0
fallecidos                      0
sin_datos                       0
posicion_XY                144324
desc_tipo_via                8893
desc_ruta_ori              181072
desc_loc                        0
desc_dpto                       0
desc_tipo_calzada           16849
desc_tipo_banquina          32581
desc_unidad_regional            0
desc_lugar_calzada          31152
desc_zona                    9667
desc_prioridad              39210
desc_estado_semaforo        31895
desc_lugar_via              11334
desc_estado_via             25855
desc_estado_visibilidad     29922
desc_luminosidad            13259
desc_estado_clima           30542
desc_tipo_colision          43745
desc_tipo_atropello        100519
desc_tipo_hecho              5578
desc_pres_calzada           63540
desc_senializacion          44732
desc_separacion_via         38025
desc_restriccion            36147
Unnamed: 0                 108098
dtype: int64

In [ ]:
# Se reemplazan textos de valores nulos y se unifican en NAN
import numpy as np

df.replace("nan",np.NAN, inplace=True)
df.replace("nan ",np.NAN, inplace=True)
df.replace("S/D",np.NAN, inplace=True)

In [ ]:
# Se verifican la cantidad de valores nulos en cada columna luego de la limpieza
df.isnull().sum()

anio_acci                       0
nro_acci                        0
fecha                           0
desc_dia                        0
fecha_aprox                 42488
hora_aprox                  20658
desc_ruta                  181072
km                              0
cant_participantes              0
desc_participante             608
calle_avenida_km             1186
total                           0
heridos_leves                   0
heridos_graves                  0
heridos_gravisimos              0
ilesos                          0
fallecidos                      0
sin_datos                       0
posicion_XY                144324
desc_tipo_via               17786
desc_ruta_ori              181072
desc_loc                        0
desc_dpto                       0
desc_tipo_calzada           33698
desc_tipo_banquina          65162
desc_unidad_regional            0
desc_lugar_calzada          62304
desc_zona                   19334
desc_prioridad              78420
desc_estado_semaforo        63790
desc_lugar_via              22668
desc_estado_via             51710
desc_estado_visibilidad     59844
desc_luminosidad            26518
desc_estado_clima           61084
desc_tipo_colision          87490
desc_tipo_atropello        201038
desc_tipo_hecho             11156
desc_pres_calzada          127080
desc_senializacion          89464
desc_separacion_via         76050
desc_restriccion            72294
Unnamed: 0                 108098
dtype: int64

In [ ]:
# Cantidad de valores unicos por columna
df.nunique()

anio_acci                      9
nro_acci                   17700
fecha                       5099
desc_dia                       7
fecha_aprox                    2
hora_aprox                  1265
desc_ruta                    218
km                          1378
cant_participantes            12
desc_participante            910
calle_avenida_km           46807
total                         57
heridos_leves                 28
heridos_graves                 9
heridos_gravisimos             4
ilesos                        54
fallecidos                    10
sin_datos                     12
posicion_XY                30393
desc_tipo_via                  7
desc_ruta_ori                161
desc_loc                     936
desc_dpto                     28
desc_tipo_calzada             22
desc_tipo_banquina             5
desc_unidad_regional          19
desc_lugar_calzada             2
desc_zona                      2
desc_prioridad                 9
desc_estado_semaforo           4
desc_lugar_via                11
desc_estado_via               26
desc_estado_visibilidad        8
desc_luminosidad               9
desc_estado_clima              7
desc_tipo_colision            40
desc_tipo_atropello            3
desc_tipo_hecho               79
desc_pres_calzada             15
desc_senializacion             4
desc_separacion_via           61
desc_restriccion              15
Unnamed: 0                 17478
dtype: int64

In [ ]:
# Se verifica si existen filas duplicadas
df.duplicated().value_counts()

False    216196
dtype: int64

In [ ]:
# Se crea una funcion que nos premitira  explorar los valores unicos de las columnas, 
# para poder determinar si existen iguales valores escritos de diferentes formas. 
def analisis_col_basico (column):
    print("Valores Unicos: ",column.nunique())
    print("Formato de datos: ",column.dtypes)
    print(column.unique())

def analisis_col_expandido (data_frame,column):
    
    data_frame = data_frame[column].str.split(',', expand=True)

    # Utilizar melt() para convertir las columnas en filas
    data_frame = data_frame.melt(var_name='index', value_name=column)

    # Eliminar filas con valores nulos y espacios en blanco
    data_frame = data_frame.dropna()
    data_frame[column] = data_frame[column].str.strip()

    # Realizar el análisis deseado en la columna "participantes"
    # Por ejemplo, contar la cantidad de veces que aparece cada participante
    conteo_participantes = data_frame[column].value_counts()

    # Mostrar el resultado
    print(conteo_participantes)

    unicos = conteo_participantes.nunique()
    print("Valores Unicos:", unicos)

In [ ]:
# analisis_col_basico(df["desc_participante"])
analisis_col_expandido(df,"desc_participante")

Moto/Ciclomotor                                           157044
Automóvil                                                 145532
Pickup/Utilitario                                          31358
Bicicleta                                                  21726
Peatón                                                     13086
Otros                                                       8522
Camión                                                      8394
Taxi/Remis                                                  6774
Transporte de Pasajeros Urbano (> 8 asientos)               3090
Camión c / Acoplado                                         2298
Camión Chasis                                               1338
Vehículo Oficial                                            1216
Camión c / Semirremolque                                     592
Transporte de Pasajeros Larga Distancia (> 8 asientos)       478
Tren                                                         430
Tractor                                                      336
Tracción animal / Carro                                      276
Ambulancia                                                   274
Transporte de Pasajeros (H/ 8 asientos)                      212
Cuatriciclo                                                  192
Transporte de Pasajeros                                      176
Transporte de Pasajeros Larga Distancia (Doble Piso)         168
Transporte Escolar                                           122
Transporte de Pasajeros Larga Distancia (Piso  y  1/2)       108
Name: desc_participante, dtype: int64
Valores Unicos: 24

# LIMPIEZA DE DATOS

En esta etapa luego del analisis exploratorio se comienza a limpiar los datos y a unificar valores y formatos de cada columna de forma que los datos queden preparados para ser almacenados en una base de datos y/o analizados en la siguiente etapa.

**Modificaciones Columna "Fecha"**

Se descubrio que el formato de las fechas de cada campo varia entre los archivos pr se mantiene dentro de cada año.

Para que el formato de las fechas sea uniforme se realiza sobre este campo la normalizacion del formato de la fecha.

2012 - 2015 DD/MM/YYYY

2016 - 2017 MM/DD/YYYY 

2018 - 2020 YYYY-MM-DD

Formato definido DD/MM/YYYY

In [ ]:
df['fecha'] = pd.to_datetime(df["fecha"], infer_datetime_format=True)
df['fecha'] = df['fecha'].dt.strftime('%d/%m/%Y')
df['fecha']

<ipython-input-37-15f4bc6647b8>:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['fecha'] = pd.to_datetime(df["fecha"], infer_datetime_format=True)

0        01/04/2012
1        01/05/2012
2        01/05/2012
3        01/07/2012
4        01/08/2012
            ...
11163    12/12/2014
11164    12/12/2014
11165    13/11/2014
11166    16/12/2014
11167    30/12/2014
Name: fecha, Length: 216196, dtype: object

**Modificaciones Columna "hora_aprox"**

Se necesita convertir a formato de 24 horas pero se advierte que en algunos casos la hora se encuentra cargadas 24:00:00, por lo que se modifican estos registros y se aplica la conversion.

In [ ]:
df['hora_aprox'] = df['hora_aprox'].str.replace('24:00:00', '00:00:00', regex= False)

# Formato HH:MM:SS
df['hora_aprox'] = pd.to_datetime(df["hora_aprox"],format = '%H:%M:%S').dt.time

# Formato datetime
# df['hora_aprox'] = pd.to_datetime(df["hora_aprox"],format = '%H:%M:%S')

df['hora_aprox']

0        13:30:00
1        12:30:00
2        20:15:00
3        17:20:00
4        20:30:00
           ...
11163    16:50:00
11164    10:30:00
11165    12:30:00
11166    07:05:00
11167    11:20:00
Name: hora_aprox, Length: 216196, dtype: object

**Modificaciones Columna "desc_ruta"**

Se descubrieron errores en acentos por lo cual se realizo la corrección y luego se unificaron criterios respecto a distintas rutas, autovias y autopistas de modo que el analisis pueda ser mas sencillo.

In [ ]:
# Se limpian valores duplicados no detectados debido a diferentes formas de escribirlos
print("Valores unicos antes de limpieza: ",df["desc_ruta"].nunique())
df.loc[df['desc_ruta'].str.contains('Brigadier', na=False), 'desc_ruta'] = "Autopista Provincial Brigadier E.López"
df.loc[df['desc_ruta'].str.contains('Cordoba', na=False), 'desc_ruta'] = "Autopista Nacional Rosario-Cordoba"
df.loc[df['desc_ruta'].str.contains('Valle', na=False), 'desc_ruta'] = "Autovía Nacional Gral. Juan Jose Valle"
df.loc[df['desc_ruta'].str.contains('Trebol', na=False), 'desc_ruta'] = "Ruta Provincial Trebol SE"
df.loc[df['desc_ruta'].str.contains('11', na=False), 'desc_ruta'] = "Ruta Nacional 11"
df.loc[df['desc_ruta'].str.contains('17', na=False), 'desc_ruta'] = "Ruta Nacional 17"
df.loc[df['desc_ruta'].str.contains('19', na=False), 'desc_ruta'] = "Ruta Nacional 19"
df.loc[df['desc_ruta'].str.contains('21', na=False), 'desc_ruta'] = "Ruta Nacional 21"
df.loc[df['desc_ruta'].str.contains('34', na=False), 'desc_ruta'] = "Ruta Nacional 34"
df.loc[df['desc_ruta'].str.contains('49', na=False), 'desc_ruta'] = "Ruta Nacional 49"
df['desc_ruta'] = df['desc_ruta'].str.replace('Autov?a', 'Autovía', regex= False)
df['desc_ruta'] = df['desc_ruta'].str.replace('AutovÍa', 'Autovía', regex= False)
df['desc_ruta'] = df['desc_ruta'].str.replace('S/D', 'Ruta', regex= False)
print("Valores unicos despues de limpieza: ",df["desc_ruta"].nunique())

Valores unicos antes de limpieza:  218
Valores unicos despues de limpieza:  165

**Modificaciones Columna "desc_restriccion", "desc_tipo_hecho", "desc_prioridad","desc_dpto" **

Se detectaron error tipográficos en los datos y se procede a limpiarlos.

In [ ]:
df['desc_restriccion'] = df['desc_restriccion'].str.replace('Construcci�n', 'Construcción', regex= False)
df['desc_restriccion'] = df['desc_restriccion'].str.replace('Desv�o', 'Desvío', regex= False)
df.loc[df['desc_restriccion'].str.contains('Reparaci', na=False), 'desc_restriccion'] = "Reparación de Vía"

In [ ]:
df['desc_tipo_hecho'] = df['desc_tipo_hecho'].str.replace('Colisi?n', 'Colisión', regex= False)
df['desc_tipo_hecho'] = df['desc_tipo_hecho'].str.replace('Cañda', 'Caída', regex= False)
df['desc_tipo_hecho'] = df['desc_tipo_hecho'].str.replace('Inmersi�n', 'Inmersión', regex= False)
df['desc_tipo_hecho'] = df['desc_tipo_hecho'].str.replace('Despe?amiento', 'Despeñamiento', regex= False)
df['desc_tipo_hecho'] = df['desc_tipo_hecho'].str.replace('DesPeñamiento', 'Despeñamiento', regex= False)

In [ ]:
df['desc_prioridad'] = df['desc_prioridad'].str.replace('Polic�a de tr�nsito', 'Policía de tránsito', regex= False)

In [ ]:
df['desc_dpto'] = df['desc_dpto'].str.title()
df['desc_loc'] = df['desc_loc'].str.title()
df['desc_tipo_via'] = df['desc_tipo_via'].str.title()

# ALMACENAMIENTOS DATOS LIMPIOS

In [ ]:
df.to_csv("Siniestros_limpio.csv", sep= ";")